    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Portfolio 
                    <a  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#portfolioAddModal" >add</a>
                    
                </h2>
                   </div>



       <!-- ADD MODAL YAPISI -->
      <div class="modal fade" id="portfolioAddModal" tabindex="-1" aria-labelledby="portfolioAddModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <form action="/portfolios" method="POST" encType="multipart/form-data"  accept="jpg, png, jpeg, svg, bmp" >
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Portfolio</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                  <label for="title" class="col-form-label">Title:</label>
                  <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="mb-3">
                  <label for="brief" class="col-form-label">Short Description:</label>
                  <input type="text" class="form-control" id="brief" name="brief" required>
                </div>
                <div class="mb-3">
                  <label for="client" class="col-form-label">Client:</label>
                  <input type="text" class="form-control" id="client" name="client" required>
                </div>
                <div class="mb-3">
                  <label for="category" class="col-form-label">Category:</label>
                  <input type="text" class="form-control" id="category" name="category" required>
                </div>
                <div class="mb-3">
                  <label for="photo" class="col-form-label">Photo:</label>
                  <input type="file" class="form-control" id="photo" name="photo" required>
                </div>
                <div class="mb-3">
                  <label for="description" class="col-form-label">Description:</label>
                  <textarea class="form-control" id="description" name="description" required></textarea>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
          </div>
        </div>
      </div> 
     

                 <!-- Portfolio item 1-->
                 <div class="row">
                  <% for (let i =0; i < portfolios.length; i++) { %>
                  <div class="col-lg-4 col-sm-6 mb-4">
                 <div class="portfolio-item">
                    
                    <a class="portfolio-link"
                     data-bs-toggle="modal" 
                     href="#modal<%= portfolios[i]._id %>">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="<%= portfolios[i].photo %>" alt="<%= portfolios[i].title %>" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"><%= portfolios[i].title %></div>
                        <div class="portfolio-caption-subheading text-muted">
                          <%= portfolios[i].category %>
              
                        </div>
                    </div>
                </div>
            </div>
           <% } %>
            </div>

            <% for (let i =0; i < portfolios.length; i++) { %>
            <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="modal<%= portfolios[i]._id %>" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <div class="modal-body">
                                  <!-- Project details-->
                                  <h2 class="text-uppercase"><%= portfolios[i].title %></h2>
                                  <p class="item-intro text-muted"><%= portfolios[i].brief %></p>
                                  
                                  <img class="img-fluid d-block mx-auto"  src="<%= portfolios[i].photo %>" alt="<%= portfolios[i].title %>" />
                                  <p><%= portfolios[i].description %></p>
                                  <ul class="list-inline">
                                      <li>
                                          <strong>Client:</strong>
                                          <%= portfolios[i].client %>
                                      </li>
                                      <li>
                                          <strong>Category:</strong>
                                          <%= portfolios[i].category %>
                                      </li>
                                  </ul>
                                  <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                      <i class="fas fa-xmark me-1"></i>
                                      Close Project
                                  </button>
                                  <a href="/portfolios/edit/<%= portfolios[i]._id %>" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#portfolioEditModal" >update</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <% } %>

        <!-- EDİT MODAL YAPISI -->
         <% for (let i =0; i < portfolios.length; i++) { %>
        
        <div class="modal fade" id="portfolioEditModal" tabindex="-1" aria-labelledby="portfolioAddModalLabel" aria-hidden="true">
          <div class="modal-dialog">
           
            <form action="/portfolios/<%= portfolios[i]._id %>?_method=PUT" method="POST" encType="multipart/form-data"  accept="jpg, png, jpeg, svg, bmp" >
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit The Portfolio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="mb-3">
                    <label for="title" class="col-form-label">Title:</label>
                    <input type="text" class="form-control" id="title" name="title" value="<%= portfolios[i].title %>" required>
                  </div>
                  <div class="mb-3">
                    <label for="brief" class="col-form-label">Short Description:</label>
                    <input type="text" class="form-control" id="brief" name="brief"  value="<%= portfolios[i].brief %>"  required>
                  </div>
                  <div class="mb-3">
                    <label for="client" class="col-form-label">Client:</label>
                    <input type="text" class="form-control" id="client" name="client"  value="<%= portfolios[i].client %>"  required>
                  </div>
                  <div class="mb-3">
                    <label for="category" class="col-form-label">Category:</label>
                    <input type="text" class="form-control" id="category" name="category"  value="<%= portfolios[i].category %>"  required>
                  </div>
                  <div class="mb-3">
                    <label for="description" class="col-form-label">Description:</label>
                    <textarea class="form-control" id="description" name="description" required> <%= portfolios[i].description %> </textarea>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
            <% } %>
            </div>
          </div>
          
         
          